.myGantt-link-lines {
	border-style: solid; 
	border-color: #9999ff; 
}

.myGantt-link-lines-arrow {
	background-image:url('imgs/linkArrow.png');
}



.myGantt-node{
	background-color:#ccc;
	z-index: 100000;
}