.myGantt-link-lines {
}

.myGantt-link-lines-arrow {
	background-image:url(imgs/linkArrow.png);
}

.myGantt-node{
	border: 1px solid #ed9017;
	background: #f6e6b4; /* Old browsers */
	background: -moz-linear-gradient(top,  #f6e6b4 0%, #ed9017 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f6e6b4), color-stop(100%,#ed9017)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #f6e6b4 0%,#ed9017 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #f6e6b4 0%,#ed9017 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #f6e6b4 0%,#ed9017 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #f6e6b4 0%,#ed9017 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f6e6b4', endColorstr='#ed9017',GradientType=0 ); /* IE6-9 */
}

.myGant-row{
	height: 24px;
}

.myGant-row.row{
    margin-left: 0px;
    border-left: 1px solid #DDD;
    background-image: url(imgs/rowT.png);
    background-repeat: repeat;
    background-position: 24px 24px;
}

.myGant-row span{
	margin-left:5px;
	font: normal normal bold 1em helvetica, verdana, arial;
}

.myGant-row.panel{
	width: 100%;
}

.myGant-row.odd{
	background-color: #eee;	
}

.myGant-row.day{
	width: 24px;	
}

.myGant-row.dayGrid{
    margin-left: 0px;
    border-left: 1px solid #DDD;
    background-image: url(imgs/gridT.png);
    background-repeat: repeat;
    background-position: 24px 24px;
}